/* regole e proprietà */

body{
    background-color: darkblue;
}

.text-color{
    color: white;
}

.block{
    background-color: azure;
    border-radius: 5px;
}

.password-choice{
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

.input-width {
    width: 40%;
}